---
import '@context/dashboard/dashboard.css';
import Layout from "@layouts/Layout.astro";
import Header from "@context/dashboard/header-dashboard.astro";
import Course from "@context/dashboard/course.astro";
---

<Layout title="Mi perfil">
  <div class="dashboard-container">
    <Header />
    <Course />
  </div>
</Layout>
