---
import './header.css';
import Logo from '@/continuous/Logo.astro';
import Seccion from './components/Seccion.astro';
import Login from './icons/login.astro';
import MenuIcon from './icons/menu.astro';
import Porfile from './components/Porfile.astro';

import { Seciones } from './components/DataHeader';
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);
---
<header class="header" id="header-nav">
  <div class="logo-header">
    <a href="/">
      <Logo />
    </a>
  </div>
  <Seccion data={Seciones} />
  {
    session ? (
      <>
        <div class="profile-seccion">
          <Porfile />
          <MenuIcon class="menu-icon"/>
        </div>
      </>
    ) : (
      <>
        <a class="Login-header" href="/login">
          <Login class="icon-header"/>
          <p>Iniciar Sesion</p>
        </a>
      </>
    )
  }
</header>

<script>
  const menuIcon = document.querySelector('.menu-icon');
  const headerNav = document.getElementById('header-nav');

  menuIcon?.addEventListener('click', () => {
    headerNav?.classList.toggle('nav-open');
  });
</script>