---
import './bento.css';
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);

interface BentoItem {
  url: string;
  image?: string;
  protected: boolean;
  class?: string;
  title?: string;
}

interface Props {
  items: BentoItem[];
  title?: string;
}

const { items } = Astro.props;
---

<div class="bento-content">
  {items.map((item, index) => {
    let finalUrl = item.url;
    if (item.protected && !session) {
      finalUrl = "/login";
    }

    const Element = item.url === '' ? 'div' : 'a';
    
    const gridClass = `div${index + 1}`; 
    const isTitle = item.class === 'title';

    return (
      <Element 
        href={Element === 'a' ? finalUrl : undefined} 
        class:list={[
          gridClass, 
          item.class, 
          'bento-item-anim',
          { 'is-locked': !session && !isTitle && item.image },
          { 'no-link': item.url === '' } // Clase opcional para quitar el pointer
        ]}
        style={{
          backgroundImage: item.image ? `url('${item.image}')` : '',
          '--delay': isTitle ? '0s' : `${index * 0.03}s` 
        }}
      >
        {item.title && <span class="card-title">{item.title}</span>}
      </Element>
    )
  })}
</div>

<script src="./components/scriptBento.js"></script>