.bento-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  gap: 16px;
}

.bento-item {
  position: relative;
  border-radius: 8px;
  outline: 1px solid var(--accent-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  &:nth-child(1) {
    grid-column: 1;
    grid-row: span 2;
    background-image: url('/images/dashboard-front.png');
  }

  &:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
    background-image: url('/images/frontend.png');
  }

  &:nth-child(3) {
    grid-column: 3;
    grid-row: 1;
    background-image: url('');
  }

  &:nth-child(4) {
    grid-column: 2 / span 2;
    grid-row: 2;
    background-image: url('/images/practicas.png');
  }
}